@import "define.less";
@import "mixins.less";
@import "buttons.less";


html, body {
//    font-family: @font_default;
}

a {
    &:link {
       text-decoration: underline
    }
    
    &:visited {
        text-decoration: underline;
    }
    
    &:active {
        text-decoration: none;
    }
    
    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
//    font-family: @font_title;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

h1 {
   font-size: 2.5em; 
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

p, pre, table, ul, ol, dl {
    margin: 0.5em;
}

ul, ol {
	margin-left: 2em;
}

ul {
    list-style-type: square;
}

.quiet {
    color: @color_quiet;
    background: transparent;
}

.small {
    font-size: smaller;
}

.statusbox (@color) {
    .gradient-background(@color, @color - @color_gradient_diff);
    .rounded-corners(@radius_default);
}

.status {
//    border: 1px dotted @color_quiet;
    margin: 0.5em 0 1em 0;
    
    > li {
        padding: 0.5em;
        margin: 0.25em;
    }
    
    &.error, .error {
        .statusbox(@color_red);
    }
    
    &.notice, .notice {
        .statusbox(@color_yellow);
    }
    
    &.success, .success {
        .statusbox(@color_green);
    }
    
    &.debug, .debug {
        .statusbox(@color_blue);
    }
}

.dev {
    section {
        border: 1px dashed red;
    }
    
    nav {
        border: 1px dashed yellow;
    }
    
    hgroup {
        border: 1px dashed blue;
    }
    
    a {
        border: 1px dashed gray;
    }
    
    ul, ol, dl {
        border: 1px dashed green;
    }
    
    pre, table {
        border: 1px dashed silver;
    }
    
    li {
        border: 1px dashed orange;
    }
}

header, .header, #header {
//    clear: both;
    hgroup {
        h1 {
//            margin-top: 0;
        }
    }
}

section#main, #main {
//    clear: both;
//    min-height: 5em;
}

footer, .footer, #footer {
    ul {
        &.sitemap {
            list-style-type: none;
            
            li {
                h2 {
                    margin-bottom: 0.25em;
                }
                
                ul {
                    list-style-type: none;
                    li {
                    }
                }
            }
        }
    }
}

ul {
    &.status {
        list-style-type: none;
    }
}


.notice {
    color: red;
}

.vcard {
	ul {
		list-style-type: none;
	}
}

.clear {
	clear: both;
}

iframe {
	&.fblike, &.fblikebox {
		background-color: transparent;
		border: none;
		overflow: hidden;
	}
	
	&.fblike {
		width: 450px;
		height: 80px;
		clear: both;
		
		&.nofaces {
			height: 35px;
		}
	}
		
	&.fblikebox {
		width: 250px;
		height: 558px;
	}
}

.meta {
	color: gray;
	font-style: italic;
	font-size: 0.95em;
}

@import "forms.less";