html {
  min-height: 100%;
  background: #ffffff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */

}
body {
  background: url('../img/kuntavaalit_ftr.png') no-repeat bottom right transparent;
  background-size: 100% auto;
  min-height: 100%;
}
#page {
  min-height: 100%;
}
header,
#main,
footer,
#mainmenu {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#mainmenu {
  -webkit-border-radius: 1em;
  -khtml-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  border: 2px solid silver;
  padding: 0.5em 1em 0.5em 1em;
}
#main {
  min-height: 100%;
}
footer {
  padding-bottom: 100px;
}
