html {
  background: url('../img/kuntavaalit_ftr.png') no-repeat bottom right #ffffff;
  background-size: 100% auto;
  min-height: 100%;
}
body {
  min-height: 100%;
}
#page {
  min-height: 100%;
}
header,
#main,
footer,
#mainmenu {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#mainmenu {
  -webkit-border-radius: 1em;
  -khtml-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  border: 2px solid silver;
  padding: 0.5em;
}
#main {
  min-height: 100%;
}
footer {
  padding-bottom: 100px;
}
