html,
body {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
a:link {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5cb152;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.1em;
}
.small {
  font-size: 0.85em;
}
.quiet {
  color: gray;
}
#page {
  padding: 1em;
}
header {
  margin-bottom: 1.5em;
}
footer {
  margin-top: 1.5em;
  text-align: center;
}
