html,
body,
#page,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
a:link {
  text-decoration: underline;
  color: #61bf1a;
}
a:hover {
  text-decoration: none;
  color: #61bf1a;
}
a:visited {
  color: #5cb152;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5cb152;
  margin-top: 1em;
  margin-bottom: 0.25em;
}
h1 {
  margin-top: 0.5em;
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.1em;
}
p {
  margin: 0.5em 1em 0.5em 0;
  line-height: 1.1;
}
ul,
ol,
dl,
pre,
table {
  margin: 0.5em 1em 0.5em 2em;
  line-height: 1.1;
}
ul {
  list-style-type: square;
}
a[href^="tel:"] {
  text-decoration: none;
  color: #000000;
}
#page {
  padding: 1em;
}
header {
  margin-bottom: 1.5em;
  clear: both;
}
header h1,
header h2 {
  margin: 0;
}
header h2 {
  font-size: 1.5em;
}
header a:link {
  color: #000000;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
header a:visited {
  color: #000000;
}
#main {
  clear: left;
}
#mainmenu {
  clear: both;
  margin: 0 0 2em 0;
  background-color: #696969;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #696969), color-stop(100%, #4d504b));
  background-image: -webkit-linear-gradient(top, #696969, #4d504b);
  background-image: -moz-linear-gradient(top, #696969, #4d504b);
  background-image: -ms-linear-gradient(top, #696969, #4d504b);
  background-image: -o-linear-gradient(top, #696969, #4d504b);
  background-image: linear-gradient(top, #696969, #4d504b);
  border: 1px solid #4d504b;
  border-bottom: 1px solid #454347;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #807489;
  -moz-box-shadow: inset 0 1px 0 0 #807489;
  box-shadow: inset 0 1px 0 0 #807489;
  color: #ffffff;
  font-weight: bold;
  line-height: 1;
  padding: 0.7em 0 0.8em 0;
  text-align: center;
  text-shadow: 0 -1px 0 #363a3d;
  width: 15%;
}
#mainmenu:hover {
  background-color: #605d63;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #605d63), color-stop(100%, #48484a));
  background-image: -webkit-linear-gradient(top, #605d63, #48484a);
  background-image: -moz-linear-gradient(top, #605d63, #48484a);
  background-image: -ms-linear-gradient(top, #605d63, #48484a);
  background-image: -o-linear-gradient(top, #605d63, #48484a);
  background-image: linear-gradient(top, #605d63, #48484a);
  -webkit-box-shadow: inset 0 1px 0 0 #776983;
  -moz-box-shadow: inset 0 1px 0 0 #776983;
  box-shadow: inset 0 1px 0 0 #776983;
  cursor: pointer;
}
#mainmenu:active {
  border: 1px solid #454347;
  border-bottom: 1px solid #3d3643;
  -webkit-box-shadow: inset 0 0 8px 4px #3e3645, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #3e3645, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #3e3645, 0 1px 0 0 #eeeeee;
}
#mainmenu ul {
  list-style-type: none;
  margin: 0.25em 0 0.25em 0;
}
#mainmenu ul li {
  display: inline;
  margin-right: 2em;
}
footer {
  clear: both;
  margin-top: 2.5em;
  text-align: center;
  border-top: 1px dotted silver;
}
footer .sitemap {
  margin-top: 2em;
  text-align: left;
  clear: both;
}
footer .box {
  width: 33%;
  float: left;
  overflow: auto;
}
footer .box .badges {
  text-align: center;
}
table.pretty {
  width: 100%;
  margin: 1em 1em 1em 2em;
}
table.pretty .col-description {
  width: 100%;
}
table.pretty th,
table.pretty td {
  padding: 0.25em;
}
table.pretty thead tr {
  background: #5cb152;
  color: #fff;
}
table.pretty tbody tr:nth-child(even) {
  background: #8fe485;
  color: #000;
}
table.pretty tbody tr:nth-child(odd) {
  background: #fff;
  color: #000;
}
.meta {
  border: 1px solid silver;
  padding: 0.5em;
  color: gray;
  font-size: 0.85em;
}
.meta ul {
  list-style-type: none;
  margin-left: none;
}
.meta ul li ul li {
  display: inline;
}
a.rss {
  padding-left: 16px;
  background: url('../img/rss.png') no-repeat left center transparent;
}
aside {
  font-size: 0.85em;
  border: 1px solid silver;
  padding: 0.5em;
}
aside.full {
  margin: 1em;
}
aside.right {
  width: 30%;
  float: right;
  margin: 0 0 1em 1em;
}
#page-header .page-description {
  color: gray;
  font-size: 1.2em;
  font-style: italic;
}
header,
#main,
footer,
#mainmenu {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
