@import "define.less";
@import "mixins.less";
@import "buttons.less";

html, body, #page, h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

html {

}

body {
    
}

a {
    &:link {
        text-decoration: underline;
		color: @vihreatvihrea;
    }
    
    &:hover {
        text-decoration: none;
		color: @vihreatvihrea;
    }
	
	&:visited {
		color: @avoimempivihrea;
	}
}

h1, h2, h3, h4, h5, h6 {
    color: @avoimempivihrea;
	font-family: 'Open Sans', Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin-top: 1em;
	margin-bottom: 0.25em;
}

h1 {
	margin-top: 0.5em;
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

p {
	margin: 0.5em 1em 0.5em 0;
	line-height: 1.1;
}

ul, ol, dl, pre, table {
	margin: 0.5em 1em 0.5em 2em;
	line-height: 1.1;
}

ul {
	list-style-type: square;
}

@import "ypcsfi.less";

#page {
    padding: 1em;
}

header {
    margin-bottom: 1.5em;
    clear: both;
	
	h1, h2 {
		margin: 0;
	}

    h2 {
        font-size: 1.5em;
    }
	
	a {
		&:link {
			color: @textcolor;
			text-decoration: none;
		}
		
		&:hover {
			text-decoration: underline;
		}
		
		&:visited {
			color: @textcolor;
		}
	}
}

#main {
    clear: left;
}

#mainmenu {
	clear: both;
	margin: 0 0 2em 0;
//	.button-gray();
	.cupid-buttons(@avoimempivihrea);
	width: 100%;
	
	a {
		&:link, &:visited {
			color: #fff;
		}
		
		&:hover {
			color: orange;
		}
	}
	
	ul {
		list-style-type: none;
		margin: 0.25em 0 0.25em 0;
		
		li {
			display: inline;
			margin-right: 2em;
		}
	}
}

footer {
    clear: both;
    margin-top: 2.5em;
    text-align: center;
	border-top: 1px dotted silver;
	
	.sitemap {
		margin-top: 2em;
		text-align: left;
		clear: both;
	}
	
	.box {
		width: 33%;
		float: left;
		overflow: auto;
		
		.badges {
			text-align: center;
		}
	}
}

table.pretty {
	width: 100%;
	margin: 1em 1em 1em 2em;
	
	.col-description {
		width: 100%;
	}
	
	th, td {
		padding: 0.25em;
	}
	
	thead {
		tr {
			background: @avoimempivihrea;
			color: #fff;
		}
	}
	
	tbody {
		tr {
			&:nth-child(even) {
				background: @avoimempivihrea + #333333;
				color: #000;
			}
			
			&:nth-child(odd) {
				background: #fff;
				color: #000;
			}
		}
	}
}

.meta {
	border: 1px solid silver;
	padding: 0.5em;
	color: gray;
    font-size: 0.85em;
    	
	ul {
		list-style-type: none;
		margin-left: none;
		
		li {
			ul {
//				list-style-type: square;
				li {
					display: inline;
				}
			}
		}
	}
}

a.rss {
    padding-left: 16px;
    background: url('../img/rss.png') no-repeat left center transparent;
}

aside {
	font-size: 0.85em;
	border: 1px solid silver;
	padding: 0.5em;
	
	&.full {
		margin: 1em;
	}
	
	&.right {
		width: 30%;
		float: right;
		margin: 0 0 1em 1em;
	}
}

#page-header {
	.page-description {
		color: gray;
		font-size: 1.2em;
		font-style: italic;
	}
}

header, #main, footer, #mainmenu {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}