@vihreatvihrea: #61bf1a;
@avoimempivihrea: #5cb152;

html, body {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

html {

}

body {
    
}

a {
    &:link {
        text-decoration: underline;
    }
    
    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: @avoimempivihrea;
	margin-top: 0.75em;
	margin-bottom: 0.25em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

p {
	margin: 0.5em 1em 0.5em 0;
}

ul, ol, dl, pre, table {
	margin: 0.5em 1em 0.5em 2em;
}

ul {
	list-style-type: square;
}

@import "common.less";

#page {
    padding: 1em;
}

header {
    margin-bottom: 1.5em;
    clear: both;
	
	h1, h2 {
		margin: 0;
	}

    h2 {
        font-size: 1.5em;
    }
}

#main {
    clear: left;
}

#mainmenu {
    margin: 0 0 1em 1em;
    float: right;
}

footer {
    clear: both;
    margin-top: 1.5em;
    text-align: center;
}
