// TODO: sivun peruslayout

#page {
    padding: 1em;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header, #main, footer {
    clear: both;
}

header {
    text-align: center;
}

#mainmenu {
    ul {
        list-style-type: none;
        
        li {
            display: inline;
        }
    }
}
