body {
    background: url('http://cdn.ypcs.fi/media/img/bg_keyboard.jpg') fixed no-repeat top left transparent;
}

#page {
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
}

header {
    text-shadow: -1px -1px -1px #fff;
}

footer {
    .quiet {
        color: #444;
    }
}
