// TODO: näytä talotmetsässä -grafiikka footerissa

#page {
    background: url('http://cdn.ypcs.fi/media/img/crushed/kuntavaalit_ftr_m.png') no-repeat bottom right #fff;
    background: url('http://cdn.ypcs.fi/media/img/crushed/kuntavaalit_ftr_m.png') no-repeat bottom right rgba(255, 255, 255, 0.8);
    padding-bottom: 200px;
}
