// Sivuston peruslayout
@import "define.scss";

#page {
    padding: $x * 4;
    width: $page_width;
    margin-left: auto;
    margin-right: auto;
}

header, #main, footer {
    clear: both;
}

header {
    text-align: center;
    margin-bottom: $x * 2;
    
    #tagline {
        font-size: $x * 5;
    }
}

#mainmenu {
    border-radius: $x * 2;
    font-weight: bold;
//    -webkit-border-radius: $x;
    padding: $x * 2.5;
    text-align: center;
    
    margin: 1em 0 2em 0;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        li {
            display: inline;
            padding-right: $x * 4;
        }
    }
}

#main {
    padding: $x * 4;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: $x * 2;
}

footer {
    text-align: center;
    margin: ($x * 4) 0 0 0;
    
    .sitemap {
        margin-bottom: $x * 8;
        .box {
            width: $page_width / 3;
            text-align: left;
            float: left;
            overflow: hidden;
            
            .badges {
                text-align: center;
            }
        }
    }
}

.share {
        clear: both;
        margin: 1em 0 0 1em;
        ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                        display: inline-block;
                }
        }

        .fb-like {
                vertical-align: top;
                zoom: 1;
                display: inline;
        }
}

.meta {
	border: 1px solid silver;
	padding: 0.5em;
	color: gray;
    font-size: 0.85em;
    	
	ul {
		list-style-type: none;
		margin-left: 0;
		
		li {
			ul {
//				list-style-type: square;
				li {
					display: inline;
				}
			}
		}
	}
}

aside {
	font-size: 0.85em;
	border: 1px solid silver;
	padding: 0.5em;
	
	&.full {
		margin: 1em;
	}
	
	&.right {
		width: 30%;
		float: right;
		margin: 0 0 1em 1em;
	}
}

#page-header {
	.page-description {
		color: gray;
		font-size: 1.2em;
		font-style: italic;
	}
}

header, #main, footer, #mainmenu {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.post-meta {
	float: right;
	width: 35%;
	margin: 0 0 1em 1em;
	border: 1px dotted silver;
	padding: 0.5em;
}

.page-image {
    float: right;
    margin: 0 0 ($x * 2) ($x * 2);
}

@media all and (max-width: 800px) {
    #page {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media all and (max-width: 540px) {
    #mainmenu {
        ul {
            li {
                display: block;
                padding: $x * 2;
            }
        }
    }
}
