[submodule "projects/kuntavaalit2012"]
	path = projects/kuntavaalit2012
	url = git://github.com/ypcs/kuntavaalit2012.git
[submodule "media/ext/openlayers"]
	path = media/ext/openlayers
	url = git://github.com/openlayers/openlayers.git
