<div class="vcard">
	<span class="fn">Ville Korhonen</span>
	<ul>
		<li>email: <a href="mailto:ville@xd.fi" class="email me">ville@xd.fi</a></li>
		<li>email: <a href="mailto:ville.korhonen@vihreat.fi" class="email me">ville.korhonen@vihreat.fi</a></li>
		<li>gsm: <a href="tel:+358503032101" class="tel me cell"> +35850 303 2101</a></li>
		<li>twitter: <a href="https://twitter.com/ypcs" class="url me twitter">ypcs</a></li>
		<li>facebook (profile): <a href="https://www.facebook.com/ypoocs" class="url me facebook facebook-profile">ypoocs</a></li>
		<li>facebook (page): <a href="https://www.facebook.com/vipekorh" class="url me facebook facebook-page">vipekorh</a></li>
		<li>skype: <a href="skype://ypoocs?call" class="tel me skype">ypoocs</a></li>
		<li>last.fm: <a href="https://www.last.fm/user/ypcs" class="url me">ypcs</a></li>
	</ul>
</div>