<div class="vcard me">
	<h1 class="fn">Ville Korhonen</h1>
	<img class="photo" src="http://www.gravatar.com/avatar/4f2b9b54da261f517e8a35d1975eb5bf.png" alt="my gravatar"/>
	<!--<time class="bday" title="1986-06-19">19. kesäkuuta 1986</time> -->
	<!--><img class="photo" src="{{ site.cdn }}/media/img/me.jpg" alt="Ville Korhonen"/>-->
	<ul>
		<li>email: <a href="mailto:{{ site.email }}" class="email me">{{ site.email }}</a></li>
		<li>email: <a href="mailto:ville.korhonen@vihreat.fi" class="email me">ville.korhonen@vihreat.fi</a></li>
		<li>gsm: <a href="tel:+358503032101" class="tel me cell"> +35850 303 2101</a></li>
		<li>twitter: <a href="https://twitter.com/{{ site.twitter }}" class="url me twitter nickname">{{ site.twitter }}</a></li>
		<li>google+: <a rel="author" href="https://plus.google.com/102939930956749261004" class="me googleplus">my google+ profile</a></li>
		<li>facebook (profile): <a href="https://www.facebook.com/{{ site.facebook }}" class="url me facebook facebook-profile nickname">{{ site.facebook }}</a></li>
		<li>facebook (page): <a href="https://www.facebook.com/vipekorh" class="url me facebook facebook-page">vipekorh</a></li>
		<li>skype: <a href="skype://{{ site.skype }}?call" class="tel me skype nickname">{{ site.skype }}</a></li>
		<li>last.fm: <a href="https://www.last.fm/user/{{ site.lastfm }}" class="url me">{{ site.lastfm }}</a></li>
		<li>irc: (quakenet, ircnet, freenode) <span class="nickname">ypcs</span></li>
	</ul>
</div>