<p class="small quiet vcard">
    &copy; 1998-2012 <span class="fn">Ville Korhonen<span> &middot; 
    <a class="email" href="mailto:ville@xd.fi">ville@xd.fi</a> &middot;
<!--    <a class="email" href="mailto:ville.korhonen@vihreat.fi">ville.korhonen@vihreat.fi</a> &middot; -->
    <a class="tel" href="tel:+358503032101">+35850 303 2101</a><!-- &middot;
    <a class="url me" href="https://www.facebook.com/ypoocs">facebook.com/ypoocs</a> &middot;
    <a class="url me" href="https://twitter.com/ypcs">twitter.com/ypcs</a> &middot; -->
</p>
