    <link rel="stylesheet" href="http://cdn.ypcs.fi/media/css/html5reset-1.6.1.css"/>
    <link rel="stylesheet" href="http://cdn.ypcs.fi/media/css/style.css"/>
    <link rel="stylesheet" href="http://cdn.ypcs.fi/media/css/kuntavaalit2012.css"/>
	<link rel="stylesheet" href="http://cdn.ypcs.fi/media/css/print.css" media="print"/>
    <link rel="stylesheet" href="http://cdn.ypcs.fi/media/js/fullcalendar/fullcalendar.css"/>
    <link rel="stylesheet" href="http://cdn.ypcs.fi/media/js/fullcalendar/fullcalendar.print.css" media="print"/>

    <link rel="shortcut icon" href="http://cdn.ypcs.fi/favicon.ico" type="image/vnd.microsoft.icon"/>

    <!--[if lt IE 9]>
    <script src="http://cdn.ypcs.fi/media/js/html5shiv.js"></script>
    <![endif]-->
