    <link rel="stylesheet" href="{% include cdn-url %}/media/css/html5reset-1.6.1.css"/>
    <link rel="stylesheet" href="{% include cdn-url %}/media/css/style-1.0.0.css"/>
    <link rel="stylesheet" href="{% include cdn-url %}/media/css/kuntavaalit2012-1.0.0.css"/>
	<link rel="stylesheet" href="{% include cdn-url %}/media/css/print.css-1.0.0" media="print"/>
    <link rel="stylesheet" href="{% include cdn-url %}/media/js/fullcalendar/fullcalendar.css"/>
    <link rel="stylesheet" href="{% include cdn-url %}/media/js/fullcalendar/fullcalendar.print.css" media="print"/>

    <link rel="shortcut icon" href="{% include cdn-url %}/favicon.ico" type="image/vnd.microsoft.icon"/>

    <!--[if lt IE 9]>
    <script src="{% include cdn-url %}/media/js/html5shiv.js"></script>
    <![endif]-->
