			<div class="sitemap">
				<div class="box small contact">
					{% include contact.html %}

                    <hr/>                    
                    <div class="badges">
                        <a href="http://www.vihreat.fi/">
                            <img src="/media/img/logo_vihreat.png" alt="Vihreät - De Gröna" width="250" height="50"/>
                        </a>
                    
                        <a href="http://www.vino.fi/">
                            <img src="/media/img/logo_vino.png" alt="Vihreiden nuorten ja opiskelijoiden liitto - ViNO ry" width="175" height="164"/>
                        </a>
                    </div>
				</div>
				
				<div class="box twitter">
					{% include twitter.html %}
				</div>
				
				<div class="box facebook">
					{% include fblikebox.html %}
				</div>
			</div>
