<!DOCTYPE html>
<html lang="fi" manifest="{{ site.site_url }}/html_manifest.txt">
<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }} - {{ site.site_title }}</title>
    <meta name="author" content="{{ site.site_author }}" />

    <link rel="stylesheet" href="{{ site.cdn_url }}/media/css/html5reset-1.6.1.css"/>
    <link rel="stylesheet" href="{{ site.cdn_url }}/media/css/style-1.0.8.css"/>
    <link rel="stylesheet" href="{{ site.cdn_url }}/media/css/kuntavaalit2012-1.0.1.css"/>
	<link rel="stylesheet" href="{{ site.cdn_url }}/media/css/print-1.0.0.css" media="print"/>

	{% if page.styles %}
		{% for s in page.styles %}
		<script src="{{ site.cdn_url }}/{{ s }}"></script>
		{% endfor %}
	{% endif %}

	<script src="{{ site.cdn_url }}/media/js/modernizr.custom.39948.js"></script>

    <link rel="shortcut icon" href="{{ site.cdn_url }}/favicon.ico" type="image/vnd.microsoft.icon"/>
	
	<link rel="alternate" href="{{ site.site_url }}/atom.xml" type="application/atom+xml"/>
	
	<link rel="canonical" href="{{ site.site_url }}{{ page.url }}"/>

</head>
<body class="{% include tpl/category-class %}">
