<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ site.language }}" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ site.language }}" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ site.language }}" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ site.language }}"  prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <!--
	<meta name="author" content="{{ site.author }}" />
	-->
	<meta name="author" content="{{ site.url }}/humans.txt"/>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
	
	<meta property="og:title" content="{{ page.title }}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
	{% if page.image %}
	<meta property="og:image" content="{{ site.cdn }}/{{ page.image }}"/>
	{% else %}
	<meta property="og:image" content="{{ site.cdn }}/media/img/crushed/ogimage.png"/>
	{% endif %}
	
	<meta property="og:site_name" content="{{ site.title }}"/>
	
	{% if page.description %}
	<meta property="og:description" content="{{ page.description | strip_newlines }}"/>
	<meta name="description" content="{{ page.description | strip_newlines }}"/>
	{% else %}
	<meta property="og:description" content="{{ page.content | truncatewords:15 | strip_html | strip_newlines | escape }}">
	{% endif %}
	
	{% if page.tags %}
	<meta name="keywords" content="{{ page.tags | array_to_string }}"/>
	{% endif %}

    <link rel="stylesheet" href="{{ site.cdn }}/media/gen/styles-{{ site.style_version }}.css"/>
<link href="http://fonts.googleapis.com/css?family=Average|Capriola|Open+Sans|Open+Sans+Condensed:300" rel="stylesheet"/>

{% comment %}
	{% if page.theme %}
	<link rel="stylesheet" href="{{ site.cdn }}/media/css/theme_{{ page.theme }}.css"/>
	{% endif %}
{% endcomment %}

	{% if page.styles %}
		{% for s in page.styles %}
		<link rel="stylesheet" href="{{ site.cdn }}/{{ s }}"/>
		{% endfor %}
	{% endif %}

	<script src="{{ site.cdn }}/media/js/modernizr.custom.95715.js"></script>

    <link rel="shortcut icon" href="{{ site.cdn }}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<!--
	<link rel="alternate" href="{{ site.url }}/atom.xml" type="application/atom+xml"/>
	-->
	<link rel="alternate" href="http://feeds.feedburner.com/{{ site.feedburner }}" type="application/atom+xml"/>
	
	<link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
	
	<link rel="search" type="application/opensearchdescription+xml" title="Website" href="{{ site.url }}/opensearch.xml" />
</head>
<body class="{{ page.layout }}{% include tpl/category-class %}">
<!--[if lt IE 7]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
