<ul>
    <li><a href="/">Etusivu</a></li>
    <!--
    <li><a href="/2012/kunnallisvaalit/">Kunnallisvaalit 2012</a>
        <ul>
            <li><a href="/2012/kunnallisvaalit/kuka/">Kuka?</a></li>
            <li><a href="/2012/kunnallisvaalit/mita/">Mitä?</a></li>
            <li><a href="/2012/kunnallisvaalit/historia/">Lyhyt henkilöhistoria</a></li>
            <li><a href="/2012/kunnallisvaalit/sidonnaisuudet/">Sidonnaisuudet</a></li>
            <li><a href="/2012/kunnallisvaalit/rahoitus/">Vaalirahoitus</a></li>
            <li><a href="/2012/kunnallisvaalit/suosittelen/">Suosittelen!</a></li>
        </ul>
    </li>
    -->
    <li><a href="/2012/kunnallisvaalit/kuka/">Kuka?</a></li>
    <li><a href="/2012/kunnallisvaalit/tue-kampanjaa/">Tue</a></li>
    <li><a href="/yhteystiedot/">Yhteystiedot</a></li>
</ul>
