{% unless page.noscripts %}
<script async="async" src="{{ site.cdn }}/media/gen/scripts-{{ site.scripts_version }}.js"></script>

{% if page.scripts %}
{% for s in page.scripts %}
<script async="async" src="{{ site.cdn }}/{{ s }}"></script>
{% endfor %}
{% endif %}

<script>
function load_script(d, s, id, url) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.async = true;
        js.src = url;
        fjs.parentNode.insertBefore(js, fjs);
    }
}

window.fbAsyncInit = function() {
    FB.init({
        appId: '479137325447561',
        channelUrl: '//ypcs.fi/misc/channel/',
        status: true,
        cookie: true,
        xfbml: false
    });

// Test
FB.api('/me', function(response) {
alert('Your name is ' + response.name);
});
};

(load_script(document, "script", "twitter-wjs", "https://platform.twitter.com/widgets.js"));
(load_script(document, "script", "twitter-widget", "http://widgets.twimg.com/j/2/widget.js"));
(load_script(document, "script", "google-plusone", "https://apis.google.com/js/plusone.js"));
(load_script(document, "script", "facebook-jssdk", "https://connect.facebook.net/fi_FI/all.js#xfbml=1&appId=479137325447561"));
</script>
{% endunless %}
