			<div class="sitemap">
				<div class="box twitter">
					{% include ext/twitter.html %}
				</div>
				
				<div class="box small contact">
					{% include contact.html %}
				</div>
				
				<div class="box">
                    <div class="badges">
                        <a href="http://www.vihreat.fi/">
                            <img src="{{ site.cdn }}/media/img/crushed/logo_vihreat_pallo_s.png" alt="Vihreät - De Gröna" width="175" height="175"/>
                        </a>
                    
                        <a href="http://www.vino.fi/">
                            <img src="{{ site.cdn }}/media/img/crushed/logo_vino.png" alt="Vihreiden nuorten ja opiskelijoiden liitto - ViNO ry" width="175" height="164"/>
                        </a>
                    </div>
				</div>
				
				
			</div>
