{% include tpl/_header.html %}
    <div id="page">
        <header>
            <hgroup>
                <h1><a href="/">{% include meta/site-title %}</a></h1>
                <h2 id="tagline">{% include meta/site-tagline %}</h2>
            </hgroup>
        </header>
        
        <nav id="mainmenu">
            {% include tpl/menu.html %}
        </nav>
		
        <div id="main">
            <h1 class="page-title">{{ page.title }}</h1>
			{% include ext/fblikebuttonnofaces.html %}
            {{ content }}        
			{% include ext/fblikebutton.html %}
        </div>
        
        <footer>
{% unless page.nositemap %}
			{% include tpl/sitemap.html %}
			<hr/>
{% endunless %}
            {% include tpl/footer.html %}
        </footer>
    </div>
	{% include tpl/scripts.html %}
    {% include ext/github.html %}
{% include tpl/_footer.html %}