<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="author" content="Ville Korhonen" />

    {% include headers.html %}

</head>
<body>
    <div id="page">
        <header>
            <hgroup>
                <h1><a href="/">Ville Korhonen</a></h1>
                <h2>Tulevaisuuden visioita Hankasalmelle</h2>
            </hgroup>
        </header>
        
        <nav id="mainmenu">
            {% include menu.html %}
        </nav>
		
        <div id="main">
			{% include fblikebuttonnofaces.html %}
            {{ content }}        
			{% include fblikebutton.html %}
        </div>
        
        <footer>
			{% include sitemap.html %}
			
            {% include footer.html %}
        </footer>
    </div>
	{% include scripts.html %}
    {% include analytics.html %}
    {% include github.html %}
</body>
</html>
