<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }} - {% include meta/site-title %}</title>
    <meta name="author" content="{% include meta/site-author %}" />

    {% include tpl/headers.html %}

</head>
<body class="{% include tpl/category-class %}">
    <div id="page">
        <header>
            <hgroup>
                <h1><a href="/">{% include meta/site-title %}</a></h1>
                <h2 id="tagline">{% include meta/site-tagline %}</h2>
            </hgroup>
        </header>
        
        <nav id="mainmenu">
            {% include tpl/menu.html %}
        </nav>
		
        <div id="main">
            <h1 class="page-title">{{ page.title }}</h1>
			{% include ext/fblikebuttonnofaces.html %}
            {{ content }}        
			{% include ext/fblikebutton.html %}
            {% include tpl/meta.html %}
        </div>
        
        <footer>
			{% include tpl/sitemap.html %}
			<hr/>
            {% include tpl/footer.html %}
        </footer>
    </div>
	{% include tpl/scripts.html %}
    {% include ext/analytics.html %}
    {% include ext/github.html %}
</body>
</html>
<!-- Compiled: {{ site.time | date_to_xmlschema }} -->
<!-- Original URL: {% include meta/site-url %}{{ page.url }} -->
